---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Hello! I'm Achmad Hadi Kurnia from Indonesia, a dedicated professional in the field of software development, specializing in web-based solutions and database-driven applications. I hold a degree in Computer Engineering with a passion for crafting innovative and efficient software solutions.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Information Technology"
      subtitle="2012 to end 2016 at Universitas Serang Raya, Serang, Indonesia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Full Stack Dev at SIMONEV"
      subtitle="From 2012 to 2017 at LPSE Kabupaten Lebak, Lebak, Indonesia">
        Apart from being a Helpdesk at LPSE Lebak Regency, I was also entrusted with developing the SIMONEV application (Monitoring and Evaluation Information System) as a dashboard for budget absorption and physical construction reports. Technologies: PHP, Codeigniter, Yii, MySQL, Bootstrap
    </TimeLineElement>

    <TimeLineElement
      title="Full Stack Dev at SAHATE"
      subtitle="From 2017 to 2019 at DiskominfoSP Kabupaten Lebak, Lebak, Indonesia">
        After LPSE moved to be under the Regional Secretariat again. I was retained and trusted to develop the SAHATE application, a portal for managing social assistance in the Lebak Regency Government. Technologies: PHP, Codeigniter, MySQL, Bootstrap
    </TimeLineElement>

    <TimeLineElement
      title="Full Stack Dev at BantenDev"
      subtitle="From 2018 to 2018 at DiskominfoSP Provinsi Banten, Serang, Indonesia">
        In 2018 I tried my luck by applying as a Web Developer at the Banten Provincial Government. There I was actively involved in the development of Banten Developer based on Open Source: PHP, Laravel, MySQL, Bootstrap, Node.Js, Jekyll
    </TimeLineElement>

    <TimeLineElement
      title="Data Manager and Full Stack Dev at SIKEPEL"
      subtitle="From 2019 to now at BKPSDM Kabupaten Lebak, Lebak, Indonesia">
        Thank God, in 2019 I was declared to have graduated as a Civil Servant in the Lebak Regency Government. I applied to BKPSDM (formerly BKPP) as a Data Manager. Until now I have been assigned to develop SIKEPEL, a personnel information system (SIMPEG) in Lebak Regency. Currently SIKEPEL has been integrated with SIASN, SIMPEG belonging to BKN and e-Office (Online Presence) belonging to Diskominfo SP Lebak Regency. Technologies: PHP, Codeigniter, Laravel, MySQL, Boostrap, Node.Js, Tailwind, Restful API
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
