---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Hello! I'm Achmad Hadi Kurnia from Indonesia, a dedicated professional in the field of software development, specializing in web-based solutions and database-driven applications. I hold a degree in Computer Engineering with a passion for crafting innovative and efficient software solutions.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Information Technology"
      subtitle="2012 to 2016 at Universitas Serang Raya, Serang, Indonesia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Full Stack Dev at SIMONEV"
      subtitle="From 2012 to 2017 at LPSE Kabupaten Lebak, Lebak, Indonesia">
        Besides working as a Helpdesk at LPSE Lebak Regency, I was entrusted with the development of the SIMONEV application (Monitoring and Evaluation Information System), serving as a dashboard for budget absorption and physical construction reports.
        <div class="my-2">Technologies: PHP, Codeigniter, Yii, MySQL, Bootstrap.</div>
    </TimeLineElement>

    <TimeLineElement
      title="Full Stack Dev at SAHATE"
      subtitle="From 2017 to 2019 at DiskominfoSP Kabupaten Lebak, Lebak, Indonesia">
        After LPSE moved back under the Regional Secretariat, I was retained and entrusted with developing the SAHATE application, a portal for managing social assistance in the Lebak Regency Government.
        <div class="my-2">Technologies: PHP, Codeigniter, MySQL, Bootstrap.</div>
    </TimeLineElement>

    <TimeLineElement
      title="Full Stack Dev at BantenDev"
      subtitle="From 2018 to 2018 at DiskominfoSP Provinsi Banten, Serang, Indonesia">
        In 2018, I took the chance to apply as a Web Developer at the Banten Provincial Government. During my time there, I was actively involved in developing Banten Developer based on Open Source technologies.
        <div class="my-2">Technologies: PHP, Laravel, MySQL, Bootstrap, Node.Js, Jekyll.</div>
    </TimeLineElement>

    <TimeLineElement
      title="Data Manager and Full Stack Dev at SIKEPEL"
      subtitle="From 2019 to now at BKPSDM Kabupaten Lebak, Lebak, Indonesia">
        Thankfully, in 2019, I successfully graduated as a Civil Servant in the Lebak Regency Government. I applied to BKPSDM (formerly BKPP) and was hired as a Data Manager. Since then, I have been tasked with developing SIKEPEL, a personnel information system (SIMPEG) in Lebak Regency. Currently, SIKEPEL has been integrated with SIASN, the SIMPEG owned by BKN, and e-Office (Online Presence) managed by DiskominfoSP Lebak Regency.
        <div class="my-2">Technologies: PHP, Codeigniter, Laravel, MySQL, Boostrap, Node.Js, Tailwind, Restful API.</div>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      Certifications <a href="https://github.com/achmadhadikurnia?tab=repositories&q=certificate&type=&language=&sort=" class="text-xl w-full font-bold">view all</a>
    </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.dicoding.com/certificates/MRZM4D3G0XYQ" target="_blank">Beginner Android</a>
    </li>

    <li>
      <a href="https://www.dicoding.com/certificates/07Z6GKJ92XQR" target="_blank">Basic Javascript</a>
    </li>

    <li>
      <a href="https://www.dicoding.com/certificates/EYX4Y3J06ZDL" target="_blank">Beginner Dart</a>
    </li>

    <li>
      <a href="https://www.dicoding.com/certificates/1OP814VYQZQK" target="_blank">Beginner Python</a>
    </li>

    <li>
      <a href="https://www.dicoding.com/certificates/ERZRM61YQPYV" target="_blank">Basic Web</a>
    </li>

    <li>
      <a href="https://www.dicoding.com/certificates/L4PQ8E5G4ZO1" target="_blank">Beginer Machine Learning</a>
    </li>

    <li>
      <a href="https://www.dicoding.com/certificates/MEPJK5EN4X3V" target="_blank">Beginer Front-End</a>
    </li>

    <li>
      <a href="https://www.dicoding.com/certificates/6RPN4VL9QX2M" target="_blank">Basic Data Visualization</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Bahasa Indonesia</li>
    <li>English </li>

    <li>PHP</li>
    <li>Codeigniter</li>
    <li>Yii</li>
    <li>Yii2</li>
    <li>Wordpress</li>

    <li>Node.js</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>JQuery</li>

    <li>PostgreSQL</li>
    <li>MySQL</li>

    <li>HTML</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>

    <li>Git</li>
    <li>Docker</li>
    <li>GitHub</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>VS Code</li>

    <li>WEB Design</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
  </ul>
</BaseLayout>
